<!DOCTYPE html>

{% include "love.html" %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    {% if section is defined and section.title is defined and section.title is string %}
      {% set title = section.title ~ " - " ~ config.extra.site_title %}
    {% elif page is defined and page.title is defined and page.title is string %}
      {% set title = page.title ~ " - " ~ config.extra.site_title %}
    {% else %}
      {% set title = config.extra.site_title %}
    {% endif %}
    {% if page is defined and page.description %}
      {% set description = page.description %}
    {% else %}
      {% set description = config.extra.site_description %}
    {% endif %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    {% include "head.html" %}
  </head>

  <body>
    <div>
      <header>
        {% include "header.html" %}
      </header>
      <main>
        {% block precontent %} {% endblock precontent %}
        {% block content %} {% endblock content %}
        {% block postcontent %} {% endblock postcontent %}
      </main>
      <footer>
        {% include "footer.html" %}
      </footer>
    </div>
    {% include "nonoscript.html" %}
  </body>

</html>
