{% if header_prenav_logo is defined %}
  <h1>
    <a href="/#taimi"><img class="logo" src="/logotype-holo.png" alt="{{ config.extra.site_title }}"></img></a>
  </h1>
{% endif %}
{% set path = current_path | default(value="") %}
<nav>
  <ul>
    <li><a href="/" {% if path == "/" %}aria-current="page"{% endif %}>Home</a></li>
    <li><a href="/install-guide/" {% if path is starting_with("/install-guide") %}aria-current="page"{% endif %}>Install</a></li>
    <li><a href="/faq/" {% if path is starting_with("/faq") %}aria-current="page"{% endif %}>FAQ</a></li>
    <!--<li><a href="/blog">Blog</a></li>-->
    <li><a href="/docs/" {% if path is starting_with("/docs") %}aria-current="page"{% endif %}>Docs</a></li>
  </ul>
</nav>
<hr>
