<h2>en</h2>
<details><summary>375 keys</summary><ul>
<li><pre style="display:inline;">join-discord</pre></li>
<li><pre style="display:inline;">discord-link</pre></li>
<li><pre style="display:inline;">having-issues</pre></li>
<li><pre style="display:inline;">height</pre></li>
<li><pre style="display:inline;">font</pre></li>
<li><pre style="display:inline;">okay</pre></li>
<li><pre style="display:inline;">delete</pre></li>
<li><pre style="display:inline;">copy</pre></li>
<li><pre style="display:inline;">copy-arg</pre></li>
<li><pre style="display:inline;">save</pre></li>
<li><pre style="display:inline;">quit</pre></li>
<li><pre style="display:inline;">delete-item</pre></li>
<li><pre style="display:inline;">save-item</pre></li>
<li><pre style="display:inline;">save-standalone</pre></li>
<li><pre style="display:inline;">save-append</pre></li>
<li><pre style="display:inline;">save-edit</pre></li>
<li><pre style="display:inline;">save-edit-item</pre></li>
<li><pre style="display:inline;">save-mode</pre></li>
<li><pre style="display:inline;">error</pre></li>
<li><pre style="display:inline;">remove</pre></li>
<li><pre style="display:inline;">unknown</pre></li>
<li><pre style="display:inline;">update</pre></li>
<li><pre style="display:inline;">auto-update</pre></li>
<li><pre style="display:inline;">always</pre></li>
<li><pre style="display:inline;">ask</pre></li>
<li><pre style="display:inline;">never</pre></li>
<li><pre style="display:inline;">update-allow</pre></li>
<li><pre style="display:inline;">unset</pre></li>
<li><pre style="display:inline;">add</pre></li>
<li><pre style="display:inline;">create-arg</pre></li>
<li><pre style="display:inline;">not-create-arg</pre></li>
<li><pre style="display:inline;">description</pre></li>
<li><pre style="display:inline;">location</pre></li>
<li><pre style="display:inline;">data</pre></li>
<li><pre style="display:inline;">object</pre></li>
<li><pre style="display:inline;">files</pre></li>
<li><pre style="display:inline;">clear</pre></li>
<li><pre style="display:inline;">refresh</pre></li>
<li><pre style="display:inline;">refresh-files</pre></li>
<li><pre style="display:inline;">model</pre></li>
<li><pre style="display:inline;">revert</pre></li>
<li><pre style="display:inline;">close</pre></li>
<li><pre style="display:inline;">name</pre></li>
<li><pre style="display:inline;">icon</pre></li>
<li><pre style="display:inline;">path</pre></li>
<li><pre style="display:inline;">title</pre></li>
<li><pre style="display:inline;">menu</pre></li>
<li><pre style="display:inline;">controls</pre></li>
<li><pre style="display:inline;">id</pre></li>
<li><pre style="display:inline;">category</pre></li>
<li><pre style="display:inline;">id-arg</pre></li>
<li><pre style="display:inline;">map-id</pre></li>
<li><pre style="display:inline;">map-id-arg</pre></li>
<li><pre style="display:inline;">author</pre></li>
<li><pre style="display:inline;">position</pre></li>
<li><pre style="display:inline;">position_cap</pre></li>
<li><pre style="display:inline;">not-applicable</pre></li>
<li><pre style="display:inline;">rt-api-required-base</pre></li>
<li><pre style="display:inline;">rt-api-required</pre></li>
<li><pre style="display:inline;">no-description</pre></li>
<li><pre style="display:inline;">no-thing-arg</pre></li>
<li><pre style="display:inline;">expand-all</pre></li>
<li><pre style="display:inline;">filetype</pre></li>
<li><pre style="display:inline;">filename</pre></li>
<li><pre style="display:inline;">collapse-all</pre></li>
<li><pre style="display:inline;">active</pre></li>
<li><pre style="display:inline;">inactive</pre></li>
<li><pre style="display:inline;">enable</pre></li>
<li><pre style="display:inline;">cancel</pre></li>
<li><pre style="display:inline;">default</pre></li>
<li><pre style="display:inline;">disable</pre></li>
<li><pre style="display:inline;">enabled</pre></li>
<li><pre style="display:inline;">disabled</pre></li>
<li><pre style="display:inline;">author-arg</pre></li>
<li><pre style="display:inline;">reset</pre></li>
<li><pre style="display:inline;">timer</pre></li>
<li><pre style="display:inline;">timers</pre></li>
<li><pre style="display:inline;">experimental-notice</pre></li>
<li><pre style="display:inline;">name-empty</pre></li>
<li><pre style="display:inline;">no-trigger</pre></li>
<li><pre style="display:inline;">no-category</pre></li>
<li><pre style="display:inline;">map-id-wrong</pre></li>
<li><pre style="display:inline;">no-positions</pre></li>
<li><pre style="display:inline;">validation-fail</pre></li>
<li><pre style="display:inline;">filename-empty</pre></li>
<li><pre style="display:inline;">count</pre></li>
<li><pre style="display:inline;">actions</pre></li>
<li><pre style="display:inline;">module</pre></li>
<li><pre style="display:inline;">unspecified</pre></li>
<li><pre style="display:inline;">addon</pre></li>
<li><pre style="display:inline;">primary-window-toggle</pre></li>
<li><pre style="display:inline;">context-menu-primary</pre></li>
<li><pre style="display:inline;">timer-window-toggle</pre></li>
<li><pre style="display:inline;">marker-window-toggle</pre></li>
<li><pre style="display:inline;">pathing-window-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-minimap-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-map-toggle</pre></li>
<li><pre style="display:inline;">primary-window-toggle-text</pre></li>
<li><pre style="display:inline;">timer-key-trigger</pre></li>
<li><pre style="display:inline;">timer-key-reset</pre></li>
<li><pre style="display:inline;">config-tab</pre></li>
<li><pre style="display:inline;">config-advanced</pre></li>
<li><pre style="display:inline;">stock-imgui-progress-bar</pre></li>
<li><pre style="display:inline;">shadow</pre></li>
<li><pre style="display:inline;">centre-text-after-icon</pre></li>
<li><pre style="display:inline;">imgui-notice</pre></li>
<li><pre style="display:inline;">context-click-notice</pre></li>
<li><pre style="display:inline;">dpi-scaling</pre></li>
<li><pre style="display:inline;">dpi-notice</pre></li>
<li><pre style="display:inline;">marker-trigger</pre></li>
<li><pre style="display:inline;">marker-condition</pre></li>
<li><pre style="display:inline;">autoplace-warning</pre></li>
<li><pre style="display:inline;">nexus-quick-access</pre></li>
<li><pre style="display:inline;">icon-style</pre></li>
<li><pre style="display:inline;">icon-style-plain</pre></li>
<li><pre style="display:inline;">icon-style-scanlines-1</pre></li>
<li><pre style="display:inline;">preferred-loader</pre></li>
<li><pre style="display:inline;">preferred-updater</pre></li>
<li><pre style="display:inline;">update-revert-mainline</pre></li>
<li><pre style="display:inline;">update-revert-mainline-notice-nexus</pre></li>
<li><pre style="display:inline;">update-nexus-notice</pre></li>
<li><pre style="display:inline;">update-nexus-provider-notice</pre></li>
<li><pre style="display:inline;">gh-api-token</pre></li>
<li><pre style="display:inline;">gh-api-token-notice</pre></li>
<li><pre style="display:inline;">language</pre></li>
<li><pre style="display:inline;">addonbinds</pre></li>
<li><pre style="display:inline;">gamebinds</pre></li>
<li><pre style="display:inline;">keybind</pre></li>
<li><pre style="display:inline;">gamebind-notice</pre></li>
<li><pre style="display:inline;">precise-markers</pre></li>
<li><pre style="display:inline;">bind</pre></li>
<li><pre style="display:inline;">press-key</pre></li>
<li><pre style="display:inline;">api-tab</pre></li>
<li><pre style="display:inline;">api-notice</pre></li>
<li><pre style="display:inline;">api-token-label</pre></li>
<li><pre style="display:inline;">api-setup-open</pre></li>
<li><pre style="display:inline;">api-link</pre></li>
<li><pre style="display:inline;">api-status-setup</pre></li>
<li><pre style="display:inline;">api-refresh</pre></li>
<li><pre style="display:inline;">api-refresh-achievements</pre></li>
<li><pre style="display:inline;">api-refresh-raids</pre></li>
<li><pre style="display:inline;">api-refresh-account</pre></li>
<li><pre style="display:inline;">api-auto-update</pre></li>
<li><pre style="display:inline;">api-permissions</pre></li>
<li><pre style="display:inline;">primary-window</pre></li>
<li><pre style="display:inline;">timers-window</pre></li>
<li><pre style="display:inline;">markers-window</pre></li>
<li><pre style="display:inline;">pathing-window</pre></li>
<li><pre style="display:inline;">timer-window</pre></li>
<li><pre style="display:inline;">marker-window</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-title</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-button</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-description</pre></li>
<li><pre style="display:inline;">delete-markerset-warning</pre></li>
<li><pre style="display:inline;">overwrite-markerset</pre></li>
<li><pre style="display:inline;">open-button</pre></li>
<li><pre style="display:inline;">open-error</pre></li>
<li><pre style="display:inline;">intro-to-data-sources</pre></li>
<li><pre style="display:inline;">data-sources</pre></li>
<li><pre style="display:inline;">data-sources-tab</pre></li>
<li><pre style="display:inline;">data-source-repo-update</pre></li>
<li><pre style="display:inline;">data-source-repo-update-tooltip</pre></li>
<li><pre style="display:inline;">checking-for-updates</pre></li>
<li><pre style="display:inline;">downloading-update</pre></li>
<li><pre style="display:inline;">check-for-updates</pre></li>
<li><pre style="display:inline;">check-for-updates-tooltip</pre></li>
<li><pre style="display:inline;">checked-for-updates-last</pre></li>
<li><pre style="display:inline;">reload-data-sources</pre></li>
<li><pre style="display:inline;">reload-data-sources-tooltip</pre></li>
<li><pre style="display:inline;">remote</pre></li>
<li><pre style="display:inline;">update-status</pre></li>
<li><pre style="display:inline;">version-installed</pre></li>
<li><pre style="display:inline;">version-not-installed</pre></li>
<li><pre style="display:inline;">update-unknown</pre></li>
<li><pre style="display:inline;">update-not-required</pre></li>
<li><pre style="display:inline;">update-available</pre></li>
<li><pre style="display:inline;">update-error</pre></li>
<li><pre style="display:inline;">download</pre></li>
<li><pre style="display:inline;">install</pre></li>
<li><pre style="display:inline;">attempt-update</pre></li>
<li><pre style="display:inline;">settings-unloaded</pre></li>
<li><pre style="display:inline;">available</pre></li>
<li><pre style="display:inline;">up-to-date</pre></li>
<li><pre style="display:inline;">info-tab</pre></li>
<li><pre style="display:inline;">keybind-triggers</pre></li>
<li><pre style="display:inline;">active-timer-phases</pre></li>
<li><pre style="display:inline;">phase</pre></li>
<li><pre style="display:inline;">engine</pre></li>
<li><pre style="display:inline;">ecs-data</pre></li>
<li><pre style="display:inline;">object-data</pre></li>
<li><pre style="display:inline;">object-kind</pre></li>
<li><pre style="display:inline;">model-files</pre></li>
<li><pre style="display:inline;">vertices</pre></li>
<li><pre style="display:inline;">textures</pre></li>
<li><pre style="display:inline;">alloc-size</pre></li>
<li><pre style="display:inline;">d3d-textures</pre></li>
<li><pre style="display:inline;">size-frag</pre></li>
<li><pre style="display:inline;">size-frag-mb</pre></li>
<li><pre style="display:inline;">size-frag-kb</pre></li>
<li><pre style="display:inline;">arcdps</pre></li>
<li><pre style="display:inline;">arcdps-tab</pre></li>
<li><pre style="display:inline;">nexus</pre></li>
<li><pre style="display:inline;">multi-addon-host</pre></li>
<li><pre style="display:inline;">reload-markers</pre></li>
<li><pre style="display:inline;">marker-tab</pre></li>
<li><pre style="display:inline;">pathing-tab</pre></li>
<li><pre style="display:inline;">marker</pre></li>
<li><pre style="display:inline;">markers</pre></li>
<li><pre style="display:inline;">markers-place</pre></li>
<li><pre style="display:inline;">marker-set</pre></li>
<li><pre style="display:inline;">marker-set-create</pre></li>
<li><pre style="display:inline;">marker-set-edit</pre></li>
<li><pre style="display:inline;">marker-set-delete</pre></li>
<li><pre style="display:inline;">scaling-factor</pre></li>
<li><pre style="display:inline;">current-scaling-factor</pre></li>
<li><pre style="display:inline;">current-scaling-factor-multiple</pre></li>
<li><pre style="display:inline;">scaling-factor-reset</pre></li>
<li><pre style="display:inline;">no-file-associated</pre></li>
<li><pre style="display:inline;">markers-arg</pre></li>
<li><pre style="display:inline;">marker-type</pre></li>
<li><pre style="display:inline;">local-header</pre></li>
<li><pre style="display:inline;">map-header</pre></li>
<li><pre style="display:inline;">screen-header</pre></li>
<li><pre style="display:inline;">marker-not-on-screen</pre></li>
<li><pre style="display:inline;">select-a-marker</pre></li>
<li><pre style="display:inline;">marker-filetype-explanation</pre></li>
<li><pre style="display:inline;">no-markers-for-map</pre></li>
<li><pre style="display:inline;">cant-place-markers</pre></li>
<li><pre style="display:inline;">autoplacement-disable</pre></li>
<li><pre style="display:inline;">autoplacement-enable</pre></li>
<li><pre style="display:inline;">always-do-action</pre></li>
<li><pre style="display:inline;">do-action-if-commander</pre></li>
<li><pre style="display:inline;">do-action-if-lieutenant</pre></li>
<li><pre style="display:inline;">never-do-action</pre></li>
<li><pre style="display:inline;">open-markers-window</pre></li>
<li><pre style="display:inline;">place-markers-automatically</pre></li>
<li><pre style="display:inline;">do-nothing</pre></li>
<li><pre style="display:inline;">clear-markers</pre></li>
<li><pre style="display:inline;">clear-spent-autoplace</pre></li>
<li><pre style="display:inline;">edit-markers</pre></li>
<li><pre style="display:inline;">set-map-id</pre></li>
<li><pre style="display:inline;">current-squad-markers</pre></li>
<li><pre style="display:inline;">take-squad-markers</pre></li>
<li><pre style="display:inline;">cannot-take-squad-markers</pre></li>
<li><pre style="display:inline;">rt-api-required-squad-markers</pre></li>
<li><pre style="display:inline;">no-position</pre></li>
<li><pre style="display:inline;">trigger</pre></li>
<li><pre style="display:inline;">position-plain</pre></li>
<li><pre style="display:inline;">position-get</pre></li>
<li><pre style="display:inline;">set-manually</pre></li>
<li><pre style="display:inline;">manual-position</pre></li>
<li><pre style="display:inline;">set-manually-save</pre></li>
<li><pre style="display:inline;">trigger-explanation</pre></li>
<li><pre style="display:inline;">reload-timers</pre></li>
<li><pre style="display:inline;">timer-tab</pre></li>
<li><pre style="display:inline;">source-arg</pre></li>
<li><pre style="display:inline;">source-adhoc</pre></li>
<li><pre style="display:inline;">select-a-timer</pre></li>
<li><pre style="display:inline;">no-phases-active</pre></li>
<li><pre style="display:inline;">reset-timers</pre></li>
<li><pre style="display:inline;">pathing</pre></li>
<li><pre style="display:inline;">trail</pre></li>
<li><pre style="display:inline;">poi</pre></li>
<li><pre style="display:inline;">space</pre></li>
<li><pre style="display:inline;">reload-packs</pre></li>
<li><pre style="display:inline;">unload-packs</pre></li>
<li><pre style="display:inline;">filter-options</pre></li>
<li><pre style="display:inline;">searchbar-clear</pre></li>
<li><pre style="display:inline;">show-filter</pre></li>
<li><pre style="display:inline;">hide-filter</pre></li>
<li><pre style="display:inline;">current-map</pre></li>
<li><pre style="display:inline;">ignore-root</pre></li>
<li><pre style="display:inline;">ignore-leaf</pre></li>
<li><pre style="display:inline;">ignore-branch</pre></li>
<li><pre style="display:inline;">show-hidden</pre></li>
<li><pre style="display:inline;">show-all</pre></li>
<li><pre style="display:inline;">ignore-whitespace</pre></li>
<li><pre style="display:inline;">case-insensitive</pre></li>
<li><pre style="display:inline;">toggle</pre></li>
<li><pre style="display:inline;">pathing-config</pre></li>
<li><pre style="display:inline;">pathing-config-enable</pre></li>
<li><pre style="display:inline;">pathing-config-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-player-overlap-threshold</pre></li>
<li><pre style="display:inline;">pathing-config-distance-fade-intensity</pre></li>
<li><pre style="display:inline;">pathing-config-distance-max</pre></li>
<li><pre style="display:inline;">pathing-config-textured</pre></li>
<li><pre style="display:inline;">pathing-config-textured-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-textured-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-map-open</pre></li>
<li><pre style="display:inline;">pathing-config-camera-source</pre></li>
<li><pre style="display:inline;">pathing-config-advanced</pre></li>
<li><pre style="display:inline;">pathing-config-trail-notice</pre></li>
<li><pre style="display:inline;">pathing-config-trail-y-offset</pre></li>
<li><pre style="display:inline;">pathing-config-trail-resolution</pre></li>
<li><pre style="display:inline;">pathing-config-trail-width</pre></li>
<li><pre style="display:inline;">pathing-config-goggles</pre></li>
<li><pre style="display:inline;">pathing-config-goggles-notice</pre></li>
<li><pre style="display:inline;">pathing-config-filters</pre></li>
<li><pre style="display:inline;">pathing-config-api-bypass</pre></li>
<li><pre style="display:inline;">pathing-config-api-bypass-notice</pre></li>
<li><pre style="display:inline;">pathing-config-festivals</pre></li>
<li><pre style="display:inline;">pathing-config-festival-active</pre></li>
<li><pre style="display:inline;">pathing-config-reset-notice</pre></li>
<li><pre style="display:inline;">pathing-config-edge-feather-scale</pre></li>
<li><pre style="display:inline;">pathing-config-corner-boundary-scale</pre></li>
<li><pre style="display:inline;">pathing-notice-space</pre></li>
<li><pre style="display:inline;">pathing-notice-mumblelink</pre></li>
<li><pre style="display:inline;">pathing-notice-rtapi-missing</pre></li>
<li><pre style="display:inline;">pathing-notice-rtapi</pre></li>
<li><pre style="display:inline;">mumblelink</pre></li>
<li><pre style="display:inline;">rtapi</pre></li>
<li><pre style="display:inline;">render-unload</pre></li>
<li><pre style="display:inline;">render-reload</pre></li>
<li><pre style="display:inline;">render-notice-gameplay</pre></li>
<li><pre style="display:inline;">render-notice-gameplay-initial</pre></li>
<li><pre style="display:inline;">render-notice-error</pre></li>
<li><pre style="display:inline;">packs-empty</pre></li>
<li><pre style="display:inline;">packs-empty-notice</pre></li>
<li><pre style="display:inline;">festival</pre></li>
<li><pre style="display:inline;">halloween</pre></li>
<li><pre style="display:inline;">wintersday</pre></li>
<li><pre style="display:inline;">superadventurefestival</pre></li>
<li><pre style="display:inline;">lunarnewyear</pre></li>
<li><pre style="display:inline;">festivalofthefourwinds</pre></li>
<li><pre style="display:inline;">dragonbash</pre></li>
<li><pre style="display:inline;">Miscellaneous_Interact</pre></li>
<li><pre style="display:inline;">UI_ShowHideUI</pre></li>
<li><pre style="display:inline;">Map_OpenClose</pre></li>
<li><pre style="display:inline;">Map_ZoomIn</pre></li>
<li><pre style="display:inline;">Map_ZoomOut</pre></li>
<li><pre style="display:inline;">Map_FloorUp</pre></li>
<li><pre style="display:inline;">Map_FloorDown</pre></li>
<li><pre style="display:inline;">Map_Recenter</pre></li>
<li><pre style="display:inline;">gamebind-marker-arrow</pre></li>
<li><pre style="display:inline;">gamebind-marker-square</pre></li>
<li><pre style="display:inline;">gamebind-marker-heart</pre></li>
<li><pre style="display:inline;">gamebind-marker-star</pre></li>
<li><pre style="display:inline;">gamebind-marker-spiral</pre></li>
<li><pre style="display:inline;">gamebind-marker-triangle</pre></li>
<li><pre style="display:inline;">gamebind-marker-x</pre></li>
<li><pre style="display:inline;">gamebind-marker-clear</pre></li>
<li><pre style="display:inline;">gamebind-marker-location-suffix</pre></li>
<li><pre style="display:inline;">gamebind-marker-object-suffix</pre></li>
<li><pre style="display:inline;">Squad_Location_Arrow</pre></li>
<li><pre style="display:inline;">Squad_Location_Circle</pre></li>
<li><pre style="display:inline;">Squad_Location_Square</pre></li>
<li><pre style="display:inline;">Squad_Location_Heart</pre></li>
<li><pre style="display:inline;">Squad_Location_Star</pre></li>
<li><pre style="display:inline;">Squad_Location_Spiral</pre></li>
<li><pre style="display:inline;">Squad_Location_Triangle</pre></li>
<li><pre style="display:inline;">Squad_Location_X</pre></li>
<li><pre style="display:inline;">Squad_Object_Arrow</pre></li>
<li><pre style="display:inline;">Squad_Object_Circle</pre></li>
<li><pre style="display:inline;">Squad_Object_Square</pre></li>
<li><pre style="display:inline;">Squad_Object_Heart</pre></li>
<li><pre style="display:inline;">Squad_Object_Star</pre></li>
<li><pre style="display:inline;">Squad_Object_Spiral</pre></li>
<li><pre style="display:inline;">Squad_Object_Triangle</pre></li>
<li><pre style="display:inline;">Squad_Object_X</pre></li>
<li><pre style="display:inline;">Squad_ClearAllLocationMarkers</pre></li>
<li><pre style="display:inline;">Squad_ClearAllObjectMarkers</pre></li>
</ul></details>
<h2>fr</h2>
<details><summary>314 keys</summary><ul>
<li><pre style="display:inline;">join-discord</pre></li>
<li><pre style="display:inline;">discord-link</pre></li>
<li><pre style="display:inline;">having-issues</pre></li>
<li><pre style="display:inline;">height</pre></li>
<li><pre style="display:inline;">font</pre></li>
<li><pre style="display:inline;">okay</pre></li>
<li><pre style="display:inline;">delete</pre></li>
<li><pre style="display:inline;">copy</pre></li>
<li><pre style="display:inline;">copy-arg</pre></li>
<li><pre style="display:inline;">save</pre></li>
<li><pre style="display:inline;">quit</pre></li>
<li><pre style="display:inline;">delete-item</pre></li>
<li><pre style="display:inline;">save-item</pre></li>
<li><pre style="display:inline;">save-standalone</pre></li>
<li><pre style="display:inline;">save-append</pre></li>
<li><pre style="display:inline;">save-edit</pre></li>
<li><pre style="display:inline;">save-edit-item</pre></li>
<li><pre style="display:inline;">save-mode</pre></li>
<li><pre style="display:inline;">error</pre></li>
<li><pre style="display:inline;">remove</pre></li>
<li><pre style="display:inline;">unknown</pre></li>
<li><pre style="display:inline;">update</pre></li>
<li><pre style="display:inline;">ask</pre></li>
<li><pre style="display:inline;">always</pre></li>
<li><pre style="display:inline;">never</pre></li>
<li><pre style="display:inline;">auto-update</pre></li>
<li><pre style="display:inline;">add</pre></li>
<li><pre style="display:inline;">create-arg</pre></li>
<li><pre style="display:inline;">not-create-arg</pre></li>
<li><pre style="display:inline;">description</pre></li>
<li><pre style="display:inline;">location</pre></li>
<li><pre style="display:inline;">data</pre></li>
<li><pre style="display:inline;">object</pre></li>
<li><pre style="display:inline;">files</pre></li>
<li><pre style="display:inline;">clear</pre></li>
<li><pre style="display:inline;">refresh-files</pre></li>
<li><pre style="display:inline;">model</pre></li>
<li><pre style="display:inline;">revert</pre></li>
<li><pre style="display:inline;">close</pre></li>
<li><pre style="display:inline;">name</pre></li>
<li><pre style="display:inline;">icon</pre></li>
<li><pre style="display:inline;">path</pre></li>
<li><pre style="display:inline;">title</pre></li>
<li><pre style="display:inline;">menu</pre></li>
<li><pre style="display:inline;">controls</pre></li>
<li><pre style="display:inline;">id</pre></li>
<li><pre style="display:inline;">category</pre></li>
<li><pre style="display:inline;">id-arg</pre></li>
<li><pre style="display:inline;">map-id</pre></li>
<li><pre style="display:inline;">map-id-arg</pre></li>
<li><pre style="display:inline;">author</pre></li>
<li><pre style="display:inline;">position</pre></li>
<li><pre style="display:inline;">position_cap</pre></li>
<li><pre style="display:inline;">not-applicable</pre></li>
<li><pre style="display:inline;">rt-api-required-base</pre></li>
<li><pre style="display:inline;">rt-api-required</pre></li>
<li><pre style="display:inline;">no-description</pre></li>
<li><pre style="display:inline;">no-thing-arg</pre></li>
<li><pre style="display:inline;">expand-all</pre></li>
<li><pre style="display:inline;">filetype</pre></li>
<li><pre style="display:inline;">filename</pre></li>
<li><pre style="display:inline;">collapse-all</pre></li>
<li><pre style="display:inline;">active</pre></li>
<li><pre style="display:inline;">inactive</pre></li>
<li><pre style="display:inline;">enable</pre></li>
<li><pre style="display:inline;">cancel</pre></li>
<li><pre style="display:inline;">default</pre></li>
<li><pre style="display:inline;">disable</pre></li>
<li><pre style="display:inline;">enabled</pre></li>
<li><pre style="display:inline;">disabled</pre></li>
<li><pre style="display:inline;">author-arg</pre></li>
<li><pre style="display:inline;">reset</pre></li>
<li><pre style="display:inline;">timer</pre></li>
<li><pre style="display:inline;">timers</pre></li>
<li><pre style="display:inline;">experimental-notice</pre></li>
<li><pre style="display:inline;">name-empty</pre></li>
<li><pre style="display:inline;">no-trigger</pre></li>
<li><pre style="display:inline;">no-category</pre></li>
<li><pre style="display:inline;">map-id-wrong</pre></li>
<li><pre style="display:inline;">no-positions</pre></li>
<li><pre style="display:inline;">validation-fail</pre></li>
<li><pre style="display:inline;">filename-empty</pre></li>
<li><pre style="display:inline;">actions</pre></li>
<li><pre style="display:inline;">module</pre></li>
<li><pre style="display:inline;">unspecified</pre></li>
<li><pre style="display:inline;">addon</pre></li>
<li><pre style="display:inline;">primary-window-toggle</pre></li>
<li><pre style="display:inline;">context-menu-primary</pre></li>
<li><pre style="display:inline;">timer-window-toggle</pre></li>
<li><pre style="display:inline;">marker-window-toggle</pre></li>
<li><pre style="display:inline;">pathing-window-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-minimap-toggle</pre></li>
<li><pre style="display:inline;">pathing-render-map-toggle</pre></li>
<li><pre style="display:inline;">primary-window-toggle-text</pre></li>
<li><pre style="display:inline;">timer-key-trigger</pre></li>
<li><pre style="display:inline;">timer-key-reset</pre></li>
<li><pre style="display:inline;">config-tab</pre></li>
<li><pre style="display:inline;">stock-imgui-progress-bar</pre></li>
<li><pre style="display:inline;">shadow</pre></li>
<li><pre style="display:inline;">centre-text-after-icon</pre></li>
<li><pre style="display:inline;">imgui-notice</pre></li>
<li><pre style="display:inline;">context-click-notice</pre></li>
<li><pre style="display:inline;">dpi-scaling</pre></li>
<li><pre style="display:inline;">dpi-notice</pre></li>
<li><pre style="display:inline;">marker-trigger</pre></li>
<li><pre style="display:inline;">marker-condition</pre></li>
<li><pre style="display:inline;">autoplace-warning</pre></li>
<li><pre style="display:inline;">nexus-quick-access</pre></li>
<li><pre style="display:inline;">icon-style</pre></li>
<li><pre style="display:inline;">icon-style-plain</pre></li>
<li><pre style="display:inline;">icon-style-scanlines-1</pre></li>
<li><pre style="display:inline;">preferred-loader</pre></li>
<li><pre style="display:inline;">preferred-updater</pre></li>
<li><pre style="display:inline;">gh-api-token</pre></li>
<li><pre style="display:inline;">gh-api-token-notice</pre></li>
<li><pre style="display:inline;">language</pre></li>
<li><pre style="display:inline;">addonbinds</pre></li>
<li><pre style="display:inline;">gamebinds</pre></li>
<li><pre style="display:inline;">keybind</pre></li>
<li><pre style="display:inline;">gamebind-notice</pre></li>
<li><pre style="display:inline;">precise-markers</pre></li>
<li><pre style="display:inline;">bind</pre></li>
<li><pre style="display:inline;">press-key</pre></li>
<li><pre style="display:inline;">primary-window</pre></li>
<li><pre style="display:inline;">timers-window</pre></li>
<li><pre style="display:inline;">markers-window</pre></li>
<li><pre style="display:inline;">pathing-window</pre></li>
<li><pre style="display:inline;">timer-window</pre></li>
<li><pre style="display:inline;">marker-window</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-title</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-button</pre></li>
<li><pre style="display:inline;">addon-uninstall-modal-description</pre></li>
<li><pre style="display:inline;">delete-markerset-warning</pre></li>
<li><pre style="display:inline;">overwrite-markerset</pre></li>
<li><pre style="display:inline;">open-button</pre></li>
<li><pre style="display:inline;">open-error</pre></li>
<li><pre style="display:inline;">intro-to-data-sources</pre></li>
<li><pre style="display:inline;">data-sources</pre></li>
<li><pre style="display:inline;">data-sources-tab</pre></li>
<li><pre style="display:inline;">data-source-repo-update</pre></li>
<li><pre style="display:inline;">data-source-repo-update-tooltip</pre></li>
<li><pre style="display:inline;">checking-for-updates</pre></li>
<li><pre style="display:inline;">downloading-update</pre></li>
<li><pre style="display:inline;">check-for-updates</pre></li>
<li><pre style="display:inline;">check-for-updates-tooltip</pre></li>
<li><pre style="display:inline;">checked-for-updates-last</pre></li>
<li><pre style="display:inline;">reload-data-sources</pre></li>
<li><pre style="display:inline;">reload-data-sources-tooltip</pre></li>
<li><pre style="display:inline;">remote</pre></li>
<li><pre style="display:inline;">update-status</pre></li>
<li><pre style="display:inline;">version-installed</pre></li>
<li><pre style="display:inline;">version-not-installed</pre></li>
<li><pre style="display:inline;">update-unknown</pre></li>
<li><pre style="display:inline;">update-not-required</pre></li>
<li><pre style="display:inline;">update-available</pre></li>
<li><pre style="display:inline;">update-error</pre></li>
<li><pre style="display:inline;">download</pre></li>
<li><pre style="display:inline;">install</pre></li>
<li><pre style="display:inline;">attempt-update</pre></li>
<li><pre style="display:inline;">settings-unloaded</pre></li>
<li><pre style="display:inline;">available</pre></li>
<li><pre style="display:inline;">up-to-date</pre></li>
<li><pre style="display:inline;">info-tab</pre></li>
<li><pre style="display:inline;">keybind-triggers</pre></li>
<li><pre style="display:inline;">active-timer-phases</pre></li>
<li><pre style="display:inline;">phase</pre></li>
<li><pre style="display:inline;">engine</pre></li>
<li><pre style="display:inline;">ecs-data</pre></li>
<li><pre style="display:inline;">object-data</pre></li>
<li><pre style="display:inline;">object-kind</pre></li>
<li><pre style="display:inline;">model-files</pre></li>
<li><pre style="display:inline;">vertices</pre></li>
<li><pre style="display:inline;">textures</pre></li>
<li><pre style="display:inline;">alloc-size</pre></li>
<li><pre style="display:inline;">d3d-textures</pre></li>
<li><pre style="display:inline;">size-frag</pre></li>
<li><pre style="display:inline;">size-frag-mb</pre></li>
<li><pre style="display:inline;">size-frag-kb</pre></li>
<li><pre style="display:inline;">arcdps</pre></li>
<li><pre style="display:inline;">arcdps-tab</pre></li>
<li><pre style="display:inline;">nexus</pre></li>
<li><pre style="display:inline;">reload-markers</pre></li>
<li><pre style="display:inline;">marker-tab</pre></li>
<li><pre style="display:inline;">pathing-tab</pre></li>
<li><pre style="display:inline;">marker</pre></li>
<li><pre style="display:inline;">markers</pre></li>
<li><pre style="display:inline;">markers-place</pre></li>
<li><pre style="display:inline;">marker-set</pre></li>
<li><pre style="display:inline;">marker-set-create</pre></li>
<li><pre style="display:inline;">marker-set-edit</pre></li>
<li><pre style="display:inline;">marker-set-delete</pre></li>
<li><pre style="display:inline;">scaling-factor</pre></li>
<li><pre style="display:inline;">current-scaling-factor</pre></li>
<li><pre style="display:inline;">current-scaling-factor-multiple</pre></li>
<li><pre style="display:inline;">scaling-factor-reset</pre></li>
<li><pre style="display:inline;">no-file-associated</pre></li>
<li><pre style="display:inline;">markers-arg</pre></li>
<li><pre style="display:inline;">marker-type</pre></li>
<li><pre style="display:inline;">local-header</pre></li>
<li><pre style="display:inline;">map-header</pre></li>
<li><pre style="display:inline;">screen-header</pre></li>
<li><pre style="display:inline;">marker-not-on-screen</pre></li>
<li><pre style="display:inline;">select-a-marker</pre></li>
<li><pre style="display:inline;">marker-filetype-explanation</pre></li>
<li><pre style="display:inline;">no-markers-for-map</pre></li>
<li><pre style="display:inline;">cant-place-markers</pre></li>
<li><pre style="display:inline;">autoplacement-disable</pre></li>
<li><pre style="display:inline;">autoplacement-enable</pre></li>
<li><pre style="display:inline;">always-do-action</pre></li>
<li><pre style="display:inline;">do-action-if-commander</pre></li>
<li><pre style="display:inline;">do-action-if-lieutenant</pre></li>
<li><pre style="display:inline;">never-do-action</pre></li>
<li><pre style="display:inline;">open-markers-window</pre></li>
<li><pre style="display:inline;">place-markers-automatically</pre></li>
<li><pre style="display:inline;">do-nothing</pre></li>
<li><pre style="display:inline;">clear-markers</pre></li>
<li><pre style="display:inline;">clear-spent-autoplace</pre></li>
<li><pre style="display:inline;">edit-markers</pre></li>
<li><pre style="display:inline;">set-map-id</pre></li>
<li><pre style="display:inline;">current-squad-markers</pre></li>
<li><pre style="display:inline;">take-squad-markers</pre></li>
<li><pre style="display:inline;">cannot-take-squad-markers</pre></li>
<li><pre style="display:inline;">rt-api-required-squad-markers</pre></li>
<li><pre style="display:inline;">no-position</pre></li>
<li><pre style="display:inline;">trigger</pre></li>
<li><pre style="display:inline;">position-plain</pre></li>
<li><pre style="display:inline;">position-get</pre></li>
<li><pre style="display:inline;">set-manually</pre></li>
<li><pre style="display:inline;">manual-position</pre></li>
<li><pre style="display:inline;">set-manually-save</pre></li>
<li><pre style="display:inline;">trigger-explanation</pre></li>
<li><pre style="display:inline;">reload-timers</pre></li>
<li><pre style="display:inline;">timer-tab</pre></li>
<li><pre style="display:inline;">source-arg</pre></li>
<li><pre style="display:inline;">source-adhoc</pre></li>
<li><pre style="display:inline;">select-a-timer</pre></li>
<li><pre style="display:inline;">no-phases-active</pre></li>
<li><pre style="display:inline;">reset-timers</pre></li>
<li><pre style="display:inline;">pathing</pre></li>
<li><pre style="display:inline;">trail</pre></li>
<li><pre style="display:inline;">poi</pre></li>
<li><pre style="display:inline;">space</pre></li>
<li><pre style="display:inline;">reload-packs</pre></li>
<li><pre style="display:inline;">unload-packs</pre></li>
<li><pre style="display:inline;">filter-options</pre></li>
<li><pre style="display:inline;">searchbar-clear</pre></li>
<li><pre style="display:inline;">show-filter</pre></li>
<li><pre style="display:inline;">hide-filter</pre></li>
<li><pre style="display:inline;">current-map</pre></li>
<li><pre style="display:inline;">ignore-root</pre></li>
<li><pre style="display:inline;">ignore-leaf</pre></li>
<li><pre style="display:inline;">ignore-branch</pre></li>
<li><pre style="display:inline;">show-hidden</pre></li>
<li><pre style="display:inline;">show-all</pre></li>
<li><pre style="display:inline;">ignore-whitespace</pre></li>
<li><pre style="display:inline;">case-insensitive</pre></li>
<li><pre style="display:inline;">toggle</pre></li>
<li><pre style="display:inline;">pathing-config</pre></li>
<li><pre style="display:inline;">pathing-config-enable</pre></li>
<li><pre style="display:inline;">pathing-config-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-alpha-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-alpha-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-trail-scale-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-poi-scale-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-player-overlap-threshold</pre></li>
<li><pre style="display:inline;">pathing-config-distance-fade-intensity</pre></li>
<li><pre style="display:inline;">pathing-config-distance-max</pre></li>
<li><pre style="display:inline;">pathing-config-textured</pre></li>
<li><pre style="display:inline;">pathing-config-textured-minimap</pre></li>
<li><pre style="display:inline;">pathing-config-textured-worldmap</pre></li>
<li><pre style="display:inline;">pathing-config-map-open</pre></li>
<li><pre style="display:inline;">pathing-config-camera-source</pre></li>
<li><pre style="display:inline;">pathing-config-advanced</pre></li>
<li><pre style="display:inline;">pathing-config-trail-notice</pre></li>
<li><pre style="display:inline;">pathing-config-trail-y-offset</pre></li>
<li><pre style="display:inline;">pathing-config-trail-resolution</pre></li>
<li><pre style="display:inline;">pathing-config-trail-width</pre></li>
<li><pre style="display:inline;">pathing-config-goggles</pre></li>
<li><pre style="display:inline;">pathing-config-goggles-notice</pre></li>
<li><pre style="display:inline;">pathing-config-festivals</pre></li>
<li><pre style="display:inline;">pathing-config-festival-active</pre></li>
<li><pre style="display:inline;">pathing-config-reset-notice</pre></li>
<li><pre style="display:inline;">pathing-config-edge-feather-scale</pre></li>
<li><pre style="display:inline;">pathing-config-corner-boundary-scale</pre></li>
<li><pre style="display:inline;">pathing-notice-space</pre></li>
<li><pre style="display:inline;">pathing-notice-mumblelink</pre></li>
<li><pre style="display:inline;">pathing-notice-rtapi-missing</pre></li>
<li><pre style="display:inline;">pathing-notice-rtapi</pre></li>
<li><pre style="display:inline;">mumblelink</pre></li>
<li><pre style="display:inline;">rtapi</pre></li>
<li><pre style="display:inline;">render-unload</pre></li>
<li><pre style="display:inline;">render-reload</pre></li>
<li><pre style="display:inline;">render-notice-gameplay</pre></li>
<li><pre style="display:inline;">render-notice-gameplay-initial</pre></li>
<li><pre style="display:inline;">render-notice-error</pre></li>
<li><pre style="display:inline;">packs-empty</pre></li>
<li><pre style="display:inline;">packs-empty-notice</pre></li>
<li><pre style="display:inline;">festival</pre></li>
<li><pre style="display:inline;">halloween</pre></li>
<li><pre style="display:inline;">wintersday</pre></li>
<li><pre style="display:inline;">superadventurefestival</pre></li>
<li><pre style="display:inline;">lunarnewyear</pre></li>
<li><pre style="display:inline;">festivalofthefourwinds</pre></li>
<li><pre style="display:inline;">dragonbash</pre></li>
</ul></details>
<h3>Progress</h3>
<h4>Untranslated Fallbacks</h4>
<ul><li><details><summary><pre style="display:inline;">update-allow =</pre></summary>
<blockquote>Allow once<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">unset =</pre></summary>
<blockquote>Unset<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">refresh =</pre></summary>
<blockquote>Refresh<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">count =</pre></summary>
<blockquote>Count<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">config-advanced =</pre></summary>
<blockquote>Advanced Settings<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">update-revert-mainline =</pre></summary>
<blockquote>Revert to mainline releases<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">update-revert-mainline-notice-nexus =</pre></summary>
<blockquote>Select stable vs pre-release betas via Nexus settings<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">update-nexus-notice =</pre></summary>
<blockquote>In-game updates require Nexus. Auto-update responsibility can be configured under extension settings in ArcDPS or Nexus.<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">update-nexus-provider-notice =</pre></summary>
<blockquote>You can manage updates under the addon Configure options in Nexus, as well as { disable } the { preferred-updater } for manual control.<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-tab =</pre></summary>
<blockquote>API<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-notice =</pre></summary>
<blockquote>An API key token allows you to opt in to personalized features such as hiding completed achievement markers. The `progression` and `characters` permissions are recommended.<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-token-label =</pre></summary>
<blockquote>Token<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-setup-open =</pre></summary>
<blockquote>Link Account<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-link =</pre></summary>
<blockquote></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-status-setup =</pre></summary>
<blockquote>Adding API key...<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-refresh =</pre></summary>
<blockquote>Refresh...<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-refresh-achievements =</pre></summary>
<blockquote>Achievements<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-refresh-raids =</pre></summary>
<blockquote>Raid Clears<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-refresh-account =</pre></summary>
<blockquote>Account<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-auto-update =</pre></summary>
<blockquote>Automatic Updates<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">api-permissions =</pre></summary>
<blockquote>Permissions<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">multi-addon-host =</pre></summary>
<blockquote>All<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">pathing-config-filters =</pre></summary>
<blockquote>Filters<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">pathing-config-api-bypass =</pre></summary>
<blockquote>API bypass<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">pathing-config-api-bypass-notice =</pre></summary>
<blockquote>Temporarily show completed achievements when replaying content with your friends<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Miscellaneous_Interact =</pre></summary>
<blockquote>Interact<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">UI_ShowHideUI =</pre></summary>
<blockquote>Hide UI<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_OpenClose =</pre></summary>
<blockquote>Map Open<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_ZoomIn =</pre></summary>
<blockquote>Map Zoom +<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_ZoomOut =</pre></summary>
<blockquote>Map Zoom -<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_FloorUp =</pre></summary>
<blockquote>Map Floor +<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_FloorDown =</pre></summary>
<blockquote>Map Floor -<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Map_Recenter =</pre></summary>
<blockquote>Map Recenter<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-arrow =</pre></summary>
<blockquote>Arrow<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-square =</pre></summary>
<blockquote>Square<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-heart =</pre></summary>
<blockquote>Heart<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-star =</pre></summary>
<blockquote>Star<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-spiral =</pre></summary>
<blockquote>Spiral<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-triangle =</pre></summary>
<blockquote>Triangle<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-x =</pre></summary>
<blockquote>X<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-clear =</pre></summary>
<blockquote>Clear Markers<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-location-suffix =</pre></summary>
<blockquote><br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">gamebind-marker-object-suffix =</pre></summary>
<blockquote>{" "}(Target)<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Arrow =</pre></summary>
<blockquote>{gamebind-marker-arrow}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Circle =</pre></summary>
<blockquote>{gamebind-marker-circle}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Square =</pre></summary>
<blockquote>{gamebind-marker-square}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Heart =</pre></summary>
<blockquote>{gamebind-marker-heart}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Star =</pre></summary>
<blockquote>{gamebind-marker-star}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Spiral =</pre></summary>
<blockquote>{gamebind-marker-spiral}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_Triangle =</pre></summary>
<blockquote>{gamebind-marker-triangle}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Location_X =</pre></summary>
<blockquote>{gamebind-marker-x}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Arrow =</pre></summary>
<blockquote>{gamebind-marker-arrow}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Circle =</pre></summary>
<blockquote>{gamebind-marker-circle}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Square =</pre></summary>
<blockquote>{gamebind-marker-square}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Heart =</pre></summary>
<blockquote>{gamebind-marker-heart}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Star =</pre></summary>
<blockquote>{gamebind-marker-star}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Spiral =</pre></summary>
<blockquote>{gamebind-marker-spiral}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_Triangle =</pre></summary>
<blockquote>{gamebind-marker-triangle}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_Object_X =</pre></summary>
<blockquote>{gamebind-marker-x}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_ClearAllLocationMarkers =</pre></summary>
<blockquote>{gamebind-marker-clear}{gamebind-marker-location-suffix}<br/></blockquote></details></li>
<li><details><summary><pre style="display:inline;">Squad_ClearAllObjectMarkers =</pre></summary>
<blockquote>{gamebind-marker-clear}{gamebind-marker-object-suffix}<br/></blockquote></details></li>
</ul><p>(61 total)</p>
