{% extends "base.html" %}

{% block content %}
<p><a href="https://github.com/TaimiHUD/TaimiHUD">TaimiHUD</a> is an <a href="https://opensource.org/license/mit">MIT-licensed</a> cross-platform <a href="https://raidcore.gg/Nexus">Nexus</a> and <a href="https://www.deltaconnected.com/arcdps/">ArcDPS</a> <a href="https://www.guildwars2.com/">Guild Wars 2</a> addon written in <a href="https://www.rust-lang.org/">Rust</a> that provides functionality generally only seen on Windows, provided by TacO, BlishHUD, etc.</p>
<p>It was made with the intention of providing a similar feature set to those of us on Linux and to those of us who did not want an overlay window, but something rendering within the game.</p>

<h3>API integration and Pathing interaction is now in alpha! Please obtain that from the website if you would like to test those features.</h3>

<section id="gallery">
  <h2>Gallery</h2>

  <ul>
    <li><a href="./gallery-01.png"><img src="./gallery-01.png"></img></a></li>
    <li><a href="./gallery-02.png"><img src="./gallery-02.png"></img></a></li>
  </ul>
</section>
{% endblock content %}
