{% extends "base.html" %}

{% block content %}
<p><a href="https://github.com/TaimiHUD/TaimiHUD">TaimiHUD</a> is an <a href="https://opensource.org/license/mit">MIT-licensed</a> cross-platform <a href="https://raidcore.gg/Nexus">Nexus</a> and <a href="https://www.deltaconnected.com/arcdps/">ArcDPS</a> <a href="https://www.guildwars2.com/">Guild Wars 2</a> addon written in <a href="https://www.rust-lang.org/">Rust</a> that provides functionality generally only seen on Windows, provided by TacO, BlishHUD, etc.</p>
<p>It was made with the intention of providing a similar feature set to those of us on Linux and to those of us who did not want an overlay window, but something rendering within the game.</p>

<h3>Achievement API integration and marker interaction is now in alpha! If you would like to help test and preview those features, please see our testing channel on Discord for more information.</h3>

<section id="gallery">
  <h2>Gallery</h2>

  <ul>
    <li>
      <a href="./gallery/cala-20251221.png"><img src="./thumb/gallery-cala-20251221.jpg" title="Taimihud giving the orphans a happy Wintersday&NewLine;Submitted by Caladrian" /></a>
    </li>
    <li>
      <a href="./gallery/cala-20251222.png"><img src="./thumb/gallery-cala-20251222.jpg" title="Don't forget about the timers!&NewLine;Submitted by Caladrian" /></a>
    </li>
    <li>
      <a href="./gallery/arc-pathing01.png"><img src="./thumb/gallery-arc-pathing01.jpg" title="Some serious gameplay action" /></a>
    </li>
    <li>
      <a href="./gallery/cala-trltool.png"><img src="./thumb/gallery-cala-trltool.jpg" title="Designing new trails&NewLine;Submitted by Caladrian" alt="Using TaimiHUD to preview a path being authored by TrlTool" /></a>
    </li>
    <li>
      <a href="./gallery/arc-pathing02.png"><img src="./thumb/gallery-arc-pathing02.jpg" /></a>
    </li>
    <li>
      <a href="./gallery/dev-goggles01.png"><img src="./thumb/gallery-dev-goggles01.jpg" title="The initial goggles experiment" /></a>
    </li>
    <li>
      <a href="./gallery/cala-june.png"><img src="./thumb/gallery-cala-june.jpg" title="&quot;Isn't it June yet?&quot;&NewLine;Submitted by Caladrian" /></a>
    </li>
    <li>
      <a href="./gallery/kat-pathing01.png"><img src="./thumb/gallery-kat-pathing01.jpg" title="An early look at pathing UI" /></a>
    </li>
  </ul>

  <h3>Development Fun</h3>
  <ul>
    <li>
      <a href="./gallery/dev-arrow01.jpg"><img src="./thumb/gallery-dev-arrow01.jpg" title="Arrow" /></a>
    </li>
    <li>
      <a href="./gallery/dev-packui01.jpg"><img src="./thumb/gallery-dev-packui01.jpg" title="The checkboxes moved!" /></a>
    </li>
    <li>
      <a href="./gallery/dev-arrow02.jpg"><img src="./thumb/gallery-dev-arrow02.jpg" title="Arrows" /></a>
    </li>
    <li>
      <a href="./gallery/dev-goggles02.jpg"><img src="./thumb/gallery-dev-goggles02.jpg" title="The second goggles experiment" /></a>
    </li>
    <li>
      <a href="./gallery/dev-copy.png"><img src="./thumb/gallery-dev-copy.jpg" /></a>
    </li>
    <li>
      <a href="./gallery/dev-art.jpg"><img src="./thumb/gallery-dev-art.jpg" title="Sleep deprivation art" /></a>
    </li>
    <li>
      <a href="./gallery/dev-wat.jpg"><img src="./thumb/gallery-dev-wat.jpg" title="&quot;Biblically accurate TaimiHUD&quot;" /></a>
    </li>
  </ul>
</section>
{% endblock content %}
